{% extends 'back/base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

<div class="col-12">
    <h1>Modifier un perosnnage</h1>
</div>

{{ form_start(form) }}
    {{ form_widget(form) }}
    {# On peut tout à fait insérer le bouton dans le twig plutot que dans le formulaire #}
    <button class="btn btn-danger">Modifier</button>
{{ form_end(form) }}

{% endblock %}
