{% extends "back/base.html.twig" %}

{% block title %}Modifier une série{% endblock %}

{% block body %}

<div class="col-12">
    <h1>Modifier une série</h1>
</div>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Modifier</button>

{{ form_end(form) }}

{% endblock %}